In [1]:
import pandas as pd
from pandas import DataFrame
import calendar

In [2]:
# Funzione per pivotare i dati e aggiungere i codici di lookup
def reshape_and_add_lookup_updated(table, lookup, subco_column_name):
    # Rinomina la prima colonna in 'Subco' per coerenza
    table = table.rename(columns={subco_column_name: "Subco"})

    # Trasformazione del DataFrame per avere i mesi in riga
    reshaped = table.melt(id_vars=["Subco"], var_name="Month", value_name="Budget")

    # Aggiunta di una colonna con i codici di lookup
    reshaped['Codice'] = reshaped['Subco'].map(lookup)

    # Riordino delle colonne
    reshaped = reshaped[["Subco", "Codice", "Month", "Budget"]]

    # Conversione della colonna 'Month' in un formato data che rappresenta il primo giorno di ogni mese
    reshaped['Month'] = reshaped['Month'].apply(lambda x: pd.to_datetime('2024-' + str(list(calendar.month_abbr).index(x[:3])) + '-01'))

    return reshaped

In [3]:
# Tabella di lookup
lookup_table = {
    "Enterprise": 22, 
    "Large Account": 17, 
    "Center South": 8, 
    "North East": 9, 
    "North West": 10, 
    "Inside": 23, 
    "Indirect - IPSOA": 3, 
    "Indirect - Resellers": 2
}

In [4]:
# Percorso del file Excel
file_path = r'C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\AI\Quota24.xlsx'

# Lettura delle due tabelle dal file Excel
first_table_range = pd.read_excel(file_path, sheet_name='Quota Mensilizzata', skiprows=0, nrows=9, usecols='A:M')
second_table_range = pd.read_excel(file_path, sheet_name='Quota Mensilizzata', skiprows=13, nrows=9, usecols='A:M')

In [11]:
first_table_range

,Subco,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Enterprise,91958.618776,89793.693621,110513.893431,95579.538850,109272.252226,134925.159992,107528.878528,25008.650697,119520.604730,124519.778453,116441.987847,116589.376341
1,Large Account,78501.259930,76653.153091,94341.128539,81592.289262,93281.190925,115180.014628,91792.945085,21348.848156,102029.784525,106297.371850,99401.696942,99527.516388
2,Center South,67286.794226,65702.702649,80863.824462,69936.247939,79955.306507,98725.726824,78679.667216,18299.012705,87454.101022,91112.033015,85201.454522,85309.299761
3,North East,95098.669173,92859.819745,114287.538573,98843.230420,113003.499863,139532.360577,111200.596332,25862.604623,123601.796111,128771.673327,120418.055724,120570.476996
4,North West,122013.386863,119140.900804,146633.068358,126817.729596,144985.622466,179022.651307,142672.463218,33182.209706,158583.436519,165216.486533,154498.637533,154694.196901
5,Inside,11214.465704,10950.450442,13477.304077,11656.041323,13325.884418,16454.287804,13113.277869,3049.835451,14575.683504,15185.338836,14200.242420,14218.216627
6,Indirect - IPSOA,440687.191405,429430.816094,413211.236708,369634.331656,392698.942598,328182.277485,429564.799533,75448.983503,459524.890540,497131.076972,564170.324338,570906.891046
7,Indirect - Resellers,132784.105877,310683.750383,486724.289622,454449.833699,218271.151001,142340.166805,287744.800041,19474.855158,84263.312326,121138.044245,91370.601328,95755.025540

In [9]:
# Trasformazione delle tabelle e aggiunta dei codici di lookup
reshaped_first_table = reshape_and_add_lookup_updated(first_table_range, lookup_table, "Subco")
reshaped_second_table = reshape_and_add_lookup_updated(second_table_range, lookup_table, "Service")

In [10]:
reshaped_first_table

                   Subco  Codice      Month         Budget
0             Enterprise      22 2024-01-01   91958.618776
1          Large Account      17 2024-01-01   78501.259930
2           Center South       8 2024-01-01   67286.794226
3             North East       9 2024-01-01   95098.669173
4             North West      10 2024-01-01  122013.386863
..                   ...     ...        ...            ...
91            North East       9 2024-12-01  120570.476996
92            North West      10 2024-12-01  154694.196901
93                Inside      23 2024-12-01   14218.216627
94      Indirect - IPSOA       3 2024-12-01  570906.891046
95  Indirect - Resellers       2 2024-12-01   95755.025540

[96 rows x 4 columns]

In [ ]:
# Percorsi dei file per l'output
file_path_first_table = '/mnt/data/reshaped_first_table.xlsx'
file_path_second_table = '/mnt/data/reshaped_second_table.xlsx'

# Salvataggio delle tabelle trasformate in file Excel
reshaped_first_table.to_excel(file_path_first_table, index=False)
reshaped_second_table.to_excel(file_path_second_table, index=False)

In [2]:
"BUDGETAG24L07"
"BUDGETAG24L10"